.displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27pt;
    font-weight: normal;
    color: aqua;
}

.displayTextError {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27pt;
    font-weight: normal;
    color: red;
}

.displayNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170pt;
    font-weight: bold;
    color: aqua;
}

.displayNumberError {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170pt;
    font-weight: bold;
    color: red;
}